<!DOCTYPE html>
<html>
  <head>
    <script src="/js/jquery-1.5.js"></script>
    <script src="/js/mud.js"></script>
    <link rel="stylesheet" href="/css/mud.css" />
  </head>
  <body>
    <%- body %>
    <img src=http://www.romesnowboards.com/blog/wp-content/uploads/2010/12/baby.seal-708316.jpg width="150" height="113" alt="klematis"
	style="opacity:0.4;filter:alpha(opacity=40)" />
  </body>
</html>

